.photo_card {
  background-color: $background-light;
  padding: 10px;
  width: 95%;
  min-height: fit-content;
  border: 1px solid $text_primary;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover {
    border: 1px solid $text_link
  }

  h2 {
    color: $text_primary;
    font-size: 2.4rem;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
  }

  img {
    width: 95%;
  }

  h3 {
    width: 80%;
    color: $text_primary;
    font-size: 2rem;
    margin-top: 3%;
    text-align: center;
  }

  p {
    width: 90%;
    color: $text_primary;
    font-size: 1.3rem;
    margin-top: 3%;
  }

  .icon_container {
    display: flex;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 3%;
    width: 90%;
  }

  button {
    margin-right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }

  .icon {
    font-size: 1.2rem;
    color: $text_primary;
  }

  .liked {
    color: $text_link-hover;
  }
}